/* Asphalt Theme by Akuity */

:root {
    --sidebar-background: #9fb7ec;
    --page-and-panel-background: #020b1d;
    --button-primary: #020b1d;
    --button-secondary: #020b1d;
    --button-disabled: #0c2047;
    --primary: #2af6d1;
    --primary2: #2af6d1;
  }
  
  .sidebar,
  .nav-bar {
    background: var(--sidebar-background);
  }
  
  .sidebar__logo img { 
    content: url(https://www.ksmartech.com/images/common/ksmartech_logo.png);
  }

  .page__content-wrapper {
    background: var(--page-and-panel-background) !important;
  }
  
  .sliding-panel__header,
  .sliding-panel__body {
    background: var(--page-and-panel-background) !important;
  }
  
  /* primary */
  .argo-button--base,
  .argo-button--base:hover {
    background: var(--button-primary) !important;
  }
  
  .argo-button--base:hover {
    background: var(--button-primary) !important;
    opacity: 0.8 !important;
  }
  
  /* secondary */
  .argo-button--base-o {
    color: var(--button-primary) !important;
    box-shadow: inset 0 0 0 1px var(--button-primary) !important;
  }
  
  .argo-button--base-o:hover,
  .argo-button--base-o:focus {
    background: var(--button-secondary) !important;
    color: #fff !important;
    box-shadow: inset 0 0 0 1px var(--button-secondary) !important;
  }
  
  /* disabled */
  .argo-button.disabled,
  .argo-button[disabled] {
    background: var(--button-disabled) !important;
  }
  
  a,
  /* title of the each item in list in settings page */
  .settings-overview__redirect-panel__title,
  .selected,
  .top-bar__title {
    color: var(--primary) !important;
  }
  
  .tabs__indicator {
    background: var(--primary2) !important;
  }
