body{
    background: #3bedc3;
}
/* used to set a different logo */
.nav-bar__logo img {
    content: url(https://www.ksmartech.com/images/common/ksmartech_logo.png);
}
.top-bar{
    background: #3bedc3;
}
.top-bar__breadcrumbs{
    color: #3bedc3;
}
.filters-group__panel{
    background-color: #3bedc3;
    color: #3bedc3;
}
.filter{
    background-color: #3bedc3;
    color: #3bedc3;
}
.filter__item{
    background-color: #232222;
    color: #3bedc3;
}
.applications-list__entry{
    background: #232222;
    color: #3bedc3;
}

.nav-bar__logo img {
    content: url(https://www.ksmartech.com/images/common/ksmartech_logo.png);
}
